<app-win-width-observer></app-win-width-observer>

<div id="main-container">
  <section class="section1">
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 400w, ' +
        (600 | imageUrl) +
        ' 600w, ' +
        (800 | imageUrl) +
        ' 800w, ' +
        (1400 | imageUrl) +
        ' 1400w, ' +
        (2000 | imageUrl) +
        ' 2000w, '
      "
    />
  </section>

  <section class="section2">
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 400w, ' +
        (600 | imageUrl) +
        ' 600w, ' +
        (800 | imageUrl) +
        ' 800w, ' +
        (1400 | imageUrl) +
        ' 1400w, ' +
        (2000 | imageUrl) +
        ' 2000w, '
      "
    />
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 400w, ' +
        (600 | imageUrl) +
        ' 600w, ' +
        (800 | imageUrl) +
        ' 800w, ' +
        (1400 | imageUrl) +
        ' 1400w, ' +
        (2000 | imageUrl) +
        ' 2000w, '
      "
    />
  </section>

  <section class="section3">
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 400w, ' +
        (600 | imageUrl) +
        ' 600w, ' +
        (800 | imageUrl) +
        ' 800w, ' +
        (1400 | imageUrl) +
        ' 1400w, ' +
        (2000 | imageUrl) +
        ' 2000w, '
      "
      sizes="
        (max-width: 400px) 400px,
        (max-width: 600px) 600px,
        (max-width: 800px) 800px,
        (max-width: 1400px) 1400px,
        2000px
        "
    />
  </section>

  <section class="section4">
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 400w, ' +
        (600 | imageUrl) +
        ' 600w, ' +
        (800 | imageUrl) +
        ' 800w, ' +
        (1400 | imageUrl) +
        ' 1400w, ' +
        (2000 | imageUrl) +
        ' 2000w, '
      "
      sizes="
        (max-width: 800px) 400px,
        (max-width: 1200px) 600px,
        (max-width: 1600px) 800px,
        (max-width: 2800px) 1400px,
        2000px
        "
    />
  </section>

  <section class="section5">
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 200w, ' +
        (600 | imageUrl) +
        ' 300w, ' +
        (800 | imageUrl) +
        ' 400w, ' +
        (1400 | imageUrl) +
        ' 700w, ' +
        (2000 | imageUrl) +
        ' 1000w, '
      "
    />
  </section>

  <section class="section6">
    <img
      [src]="400 | imageUrl"
      [srcset]="
        (400 | imageUrl) +
        ' 400w, ' +
        (600 | imageUrl) +
        ' 600w, ' +
        (800 | imageUrl) +
        ' 800w, ' +
        (1400 | imageUrl) +
        ' 1400w, ' +
        (2000 | imageUrl) +
        ' 2000w, '
      "
      sizes="
        (max-width: 200px) 400px,
        (max-width: 300px) 600px,
        (max-width: 400px) 800px,
        (max-width: 700px) 1400px,
        2000px
        "
    />
  </section>

  <section class="section7">
    <picture>
      <source media="(max-width: 800px)" [srcset]="400 | imageUrl" />
      <source media="(max-width: 1200px)" [srcset]="600 | imageUrl" />
      <source media="(max-width: 1600px)" [srcset]="800 | imageUrl" />
      <source media="(max-width: 2800px)" [srcset]="1400 | imageUrl" />
      <img [src]="2000 | imageUrl" />
    </picture>
  </section>
</div>
